@import "./../../../../styles/utils";

.images {
  width: 100%;
  height: 700px;
}

.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.next_proyect__link--disable {
  font-family: $font_3;
  font-size: 32px;
  cursor: not-allowed;
  text-align: center;
  color: rgba(255, 255, 255, 0.164);
  @include breakpoint(md) {
    font-size: 48px;
  }
  @include breakpoint(lg) {
    font-size: 64px;
  }
  @include breakpoint(xl) {
    font-size: 64px;
  }
}
.wrap {
  display: grid;
  grid-template-columns: repeat(17, minmax(0, 1fr));
  column-gap: 16px;
  row-gap: 65px;
  @include breakpoint(sm) {
    grid-template-columns: repeat(20, minmax(0, 1fr));
  }
  @include breakpoint(md) {
    column-gap: 16px;
    row-gap: 90px;
  }

  @include breakpoint(lg) {
    column-gap: 16px;
    row-gap: 140px;
  }

  @include breakpoint(xxxl) {
    column-gap: 16px;
    row-gap: 250px;
  }
}

.btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn--disable {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: not-allowed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next_proyect {
  text-align: center;
}

.next_proyect__link {
  font-family: $font_3;
  font-size: 32px;
  cursor: pointer;
  text-align: center;
  color: white;
  @include breakpoint(md) {
    font-size: 48px;
  }
  @include breakpoint(lg) {
    font-size: 64px;
  }
  @include breakpoint(xl) {
    font-size: 64px;
  }
}
