@import "./../../../../styles/utils";

.servi__title {
  justify-content: flex-start;
  margin-left: 15px;
  @include Title;
}

.servi__wrap {
  height: 450px;

  @include breakpoint(sm) {
    height: 600px;
  }
  @include breakpoint(md) {
    height: 550px;
  }
  @include breakpoint(xl) {
    height: 670px;
  }
  @include breakpoint(xxl) {
    height: 900px;
  }
}
