@import "./../../../../styles/utils";


.hero_top__title--modify {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.containerCookies { 
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding: 0 20px;
}

.container_text2{
  background-color: red;
}

.hero_video__containerCokies{
  position: relative;
  width: 100%;
  max-width: 700px;
  height: auto;
}

.buttonModal{
  background-color: white;
  border: none;
  width: 200px
}
.hero_bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.hero_container_text{
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero_text_title{
  font-size: 35px;
  margin-bottom: 20px;
  @include breakpoint(xs) { 
    font-size: 14px;
  }
  @include breakpoint(md) {
    font-size: 33px;
  }

  @include breakpoint(xl) {
    font-size: 33px;
  }

  @include breakpoint(xxl) {
    font-size: 35px;
  }
}

.hero_text_subtitle{
  font-size: 35px;
 @include breakpoint(xs) { 
   font-size: 11px;
 }
 @include breakpoint(md) {
   font-size: 35px;
 }

 @include breakpoint(xl) {
   font-size: 35px;
 }

 @include breakpoint(xxl) {
   font-size: 30px;
 }
}

.hero_btn_ok{
  font-size: 35px;
 @include breakpoint(xs) { 
  font-size: 10px;
  height: 17px;
   width: 70px;
   margin-left: 200px;
 }
 @include breakpoint(md) {
  font-size: 30px;
  height: 50px;
  width: 150px;
  margin-left: 200px;

 }

 @include breakpoint(xl) {
   font-size: 30px;
   height: 50px;
   width: 150px;
   margin-left: 200px;
   
 }

 @include breakpoint(xxl) {
   font-size: 30px;
   
 }
}

.hero_btn_cancel{
  font-size: 35px;
 @include breakpoint(xs) { 
  font-size: 10px;
  height: 17px;
  width: 70px;
  margin-left: 20px;
 }
 @include breakpoint(md) {
  font-size: 30px;
  height: 50px;
  width: 150px;
  margin-left: 20px;

 }

 @include breakpoint(xl) {
   font-size: 35px;
   
 }

 @include breakpoint(xxl) {
   font-size: 30px;
   
 }
}



.hero_bottom__container {
  position: relative;
  max-width: 700px;
}

.hero_bottom__frame {
  position: absolute;
  border: 2px solid white;
  width: 100%;
  height: 100%;
  z-index: 1000;

  @include breakpoint(md) {
    border: 4px solid white;
  }
}

.hero_bottom__frame--one {
  top: -10px;
  left: -10px;

  @include breakpoint(md) {
    top: -15px;
    left: -15px;
  }

  @include breakpoint(xl) {
    top: -15px;
    left: -15px;
  }

  @include breakpoint(xxl) {
    top: -20px;
    left: -20px;
  }
}

.hero_bottom__frame--two {
  top: -20px;
  left: -20px;

  @include breakpoint(md) {
    top: -30px;
    left: -30px;
  }

  @include breakpoint(xl) {
    top: -30px;
    left: -30px;
  }

  @include breakpoint(xxl) {
    top: -40px;
    left: -40px;
  }
}

.hero_bottom__frame--three {
  top: 0;
  left: 0;
}

.hero_video__container {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}

.hero_container_btn {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  margin-bottom: 20px;
  @include breakpoint(s) {
    bottom: 43px;
    border: 5px solid red;
  }
  @include breakpoint(xs) {
    bottom: 5px;
    border: 5px solid green;
  }
  @include breakpoint(n) {
    bottom: 35px;
    border: 5px solid green;
  }
  @include breakpoint(sm) {
    bottom: 50px;
    border: 5px solid blue;
  }
  @include breakpoint(md) {
    bottom: 43px;
  }
}

.lineParent {
  overflow: hidden;
  .lineChildren {
    transform: translate(0, 400px);
  }
}

.video{
  background-color: red;
}
