@import "./../../../../styles/utils";

@font-face {
  font-family: Market Fresh;
  src: url("./../../../../styles/MarketFresh.ttf") format("truetype");
}


.hero_top__title--modify {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.containerCookies {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  z-index: 1000;
  padding: 0 20px;
  bottom: 0;
  background-color: black;
  border-top: 3px solid rgb(255, 255, 255);
  @include breakpoint(xs) {
    display: block;

  }

  @include breakpoint(md) {
    display: flex;
  }
  @include breakpoint(xxll) {//notebook
    display: flex;
  }
  @include breakpoint(xxxl) {//monitor 24'
    display: flex;
  }
}
.contenedorcokkies{
  display: flex;
  width: 100%;
  justify-content: center;
  @include breakpoint(xs) {
   display: block;
   margin-top: -85px;

  }
  @include breakpoint(md) {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 0px;
  }
  @include breakpoint(xxll) {//notebook
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 0px;
    }
  @include breakpoint(xxxl) {//monitor 24'
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 0px;
    }
}
.hero_contenedor_imagen {
  display: flex;
  margin-left: 20px;
  @include breakpoint(xs) {
    visibility: hidden;

  }
  @include breakpoint(md) {
    visibility: visible;
  }
  @include breakpoint(xxll) {//notebook
    visibility: visible;
  }
  @include breakpoint(xxxl) {//monitor 24'
    visibility: visible;
  }
}

.hero_contenedor_imagen_end {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  visibility: visible;
  @include breakpoint(xs) {
    visibility: hidden;

  }
  
  @include breakpoint(md) {
    visibility: visible;
  }
  @include breakpoint(xxll) {//notebook
    visibility: visible;
  }
  @include breakpoint(xxxl) {//monitor 24'
    visibility: visible;
  }

}
.titulos_col_izq{
  // width: 100%;
}
.hero_titulo_cookies {
  font-family: Market Fresh;
  font-size: 35px;
  color: #FCE389;
  display: flex;
  // justify-content: flex-end;
  // margin-top: -15px;
  font-weight: bold;
width: 200px;
  @include breakpoint(xs) {
    font-size: 27px;
    justify-content: center;
    display: block;
    // margin-top: -88px;
    width: auto;
    text-align: center;
  }
  @include breakpoint(md) {
    font-size: 35px;
    // justify-content: flex-end;
    // margin-top: -15px;
    width: 290px;
  }
  @include breakpoint(xxll) {//notebook
    font-size: 35px;
    // justify-content: flex-end;
    // margin-top: -15px;
    width: 290px;
  }
  @include breakpoint(xxxl) {//monitor 24'
width: 290px;
  }
}

.hero_subtitulo_cookies {
  font-family: Market Fresh;
  font-size: 13.2px;
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
  font-weight: bold;
  // margin-left: 130px;
  width: 99%;
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);

  @include breakpoint(xs) {
    font-size: 10.3px;
    justify-content: center;
    margin-top: 0px;
    // margin-left: -1px;
  }

  @include breakpoint(md) {
    font-size: 13.2px;
    justify-content: flex-start;


  }
  @include breakpoint(xxll) {
    // margin-left: 130px; //notebook
    width: 99%;
  }
  @include breakpoint(xxxl) {
    // margin-left: 183px; //monitor 24'
    width: 99%;
  }
}

.hero_imagen-log {
  width: 145px;
}

.hero_imagen-log_end {
  width: 145px;
  transform: rotate(-180deg);
}

.container_text2 {
  background-color: red;
}

.hero_video__containerCokies {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: auto;

  @include breakpoint(xs) {
    justify-content: center;
    align-items: center;
  }
  @include breakpoint(md) {
  }
  @include breakpoint(xxll) {//notebook

  }
  @include breakpoint(xxxl) {//monitor 24'

  }
}

.buttonModal {
  background-color: white;
  border: none;
  width: 200px
}

.hero_bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.hero_container_text {
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero_text_title {
  font-size: 35px;
  margin-bottom: 20px;

  @include breakpoint(xs) {
    font-size: 14px;
  }

  @include breakpoint(md) {
    font-size: 33px;
  }

  @include breakpoint(xl) {
    font-size: 33px;
  }

  @include breakpoint(xxl) {
    font-size: 35px;
  }
}

.hero_text_subtitle {
  font-size: 35px;

  @include breakpoint(xs) {
    font-size: 11px;
  }

  @include breakpoint(md) {
    font-size: 35px;
  }

  @include breakpoint(xl) {
    font-size: 35px;
  }

  @include breakpoint(xxl) {
    font-size: 30px;
  }
}

.hero_btn_cancel {
  font-size: 35px;

  @include breakpoint(xs) {
    font-size: 10px;
    height: 17px;
    width: 70px;
    margin-left: 20px;
  }

  @include breakpoint(n) {
    font-size: 30px;
    height: 50px;
    width: 150px;
    margin-left: 20px;

  }

  @include breakpoint(xl) {
    font-size: 35px;

  }

  @include breakpoint(xl) {
    font-size: 35px;

  }

  @include breakpoint(xxl) {
    font-size: 30px;
    margin-right: -33px;
  }
}



.hero_bottom__container {
  position: relative;
  max-width: 700px;
}

.hero_bottom__frame {
  position: absolute;
  border: 2px solid white;
  width: 100%;
  height: 100%;
  z-index: 1000;

  @include breakpoint(md) {
    border: 4px solid white;
  }
}

.hero_bottom__frame--one {
  top: -10px;
  left: -10px;

  @include breakpoint(md) {
    top: -15px;
    left: -15px;
  }

  @include breakpoint(xl) {
    top: -15px;
    left: -15px;
  }

  @include breakpoint(xxl) {
    top: -20px;
    left: -20px;
  }
}

.hero_bottom__frame--two {
  top: -20px;
  left: -20px;

  @include breakpoint(md) {
    top: -30px;
    left: -30px;
  }

  @include breakpoint(xl) {
    top: -30px;
    left: -30px;
  }

  @include breakpoint(xxl) {
    top: -40px;
    left: -40px;
  }
}

.hero_bottom__frame--three {
  top: 0;
  left: 0;
}

.hero_video__container {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}

.hero_container_btn {
  display: flex;
  // justify-content: center !important;


  z-index: 1;
  width: 159px;
  height: 45px;
  margin-top: 2px;
  // margin-left: 30px;
  // margin-top: 10px;


  @include breakpoint(xs) {
    font-size: 25px;
    bottom: 5px;

    justify-content: center;
   align-items: center;
    // margin-left: 94px;
    margin-left: 0px;

    width: auto;
  }
  @include breakpoint(n) {
    // bottom: 35px;
    width: 159px;
    margin-left: 0px;
  }

  @include breakpoint(sm) {
    // bottom: 40px;
    width: 159px;
    margin-left: 0px;
  }

 
  @include breakpoint(md) {
    // margin-top: -15px;
    margin-left: 30px;
    margin-left: 0px;
  }
  @include breakpoint(xxll) {//notebook
    font-size: 35px;
    justify-content: flex-end;
    // margin-top: -15px;
    margin-top: 2px;
  }
  @include breakpoint(xxxl) {//monitor 24'
    margin-top: 2px;
  }
}


.hero_btn_ok {
  background-color: transparent;
  border: none;
align-items: center;
justify-content: center;
display: flex;
  border: 4px solid rgb(255, 255, 255);

width: 300px;
  @include breakpoint(xs) {
    height: 38px;
    margin-left: 0px;
    width: 128px;
  }

  @include breakpoint(n) {
    height: 40px;


  }
  @include breakpoint(l) {
    font-size: 20px;
    

  }

  @include breakpoint(xl) {
    height: 40px;
 

  }

  @include breakpoint(xxl) {
    height: 49px;

  }

  @include breakpoint(xxxll) {//notebook

  }
}
.hero_btn_ok_text{
  text-align: center;
  font-family: Market Fresh, serif;
  color: white;
  align-items: center;

  @include breakpoint(xs) {
    font-size: 23px;
    margin-top: 3px;
  }

  @include breakpoint(n) {
    font-size: 20px;

  }
  @include breakpoint(l) {
    font-size: 20px;
    

  }

  @include breakpoint(xl) {


  }

  @include breakpoint(xxl) {
    font-size: 26px;

  }

  @include breakpoint(xxxll) {//notebook
    font-size: 30px;

  }
}

.lineParent {
  overflow: hidden;

  .lineChildren {
    transform: translate(0, 400px);
  }
}

.video {
  background-color: red;
}