@import "./../../../../styles/utils";

.wrap {
  position: relative;
  width: 100%;
  margin-bottom: 40px;

  &:hover .background {
    transition: 300ms linear;
    backdrop-filter: blur(15px);
    filter: drop-shadow(0 4px 4px 0);
    background-color: rgba(black, $alpha: 0.6);
    color: white;
    height: 100%;
    width: 100%;
    top: 0;
  }

  &:hover .icon {
    transition: 300ms linear;
    color: white;
  }
}

.border {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 2px solid white;
}

.border--left {
  left: -10px;
  top: -10px;
}

.border--right {
  right: -10px;
  top: -10px;
}

.image {
  position: relative;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: transparent;
  z-index: 12;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 300ms linear;
}

.text {
  margin: 40px;
  font-family: $font_1;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  max-width: 500px;
  text-align: left;
}

.arrow {
  display: none;
  font-size: 50px;
  cursor: pointer;
}

.sm {
  font-size: 90px;
}

.lg {
  font-size: 100px;
  line-height: 120px;
}
