@import "./../../../../styles/utils";

.wrap_proyects {
  position: relative;
  width: 100%;
  margin-bottom: 15px;

  &:hover .background {
    transition: 300ms linear;
    backdrop-filter: blur(15px);
    filter: drop-shadow(0 4px 4px 0);
    background-color: rgba(rgb(74, 71, 71), $alpha: 0.6);
    color: white;
    height: 100%;
    width: 100%;
    top: 0;
  }

  @include breakpoint(md) {
    margin-bottom: 30px;
  }
}

.wrap_proyects__frame {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid white;

  @include breakpoint(md) {
    border: 2px solid white;
  }
}

.wrap_proyects__frame--left {
  left: -5px;
  top: -5px;
  @include breakpoint(md) {
    left: -10px;
    top: -10px;
  }
}

.wrap_proyects__frame--right {
  right: -5px;
  top: -5px;
  @include breakpoint(md) {
    right: -10px;
    top: -10px;
  }
}

.wrap_proyects__images {
  position: relative;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: transparent;
  z-index: 12;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 300ms linear;
}

.text {
  font-size: 16px;
  line-height: 20px;
  font-family: $font_1;
  font-weight: 400;
  text-align: left;
  max-width: 300px;

  @include breakpoint(md) {
    margin: 40px;
    font-size: 32px;
    line-height: 40px;
    max-width: 500px;
  }

  @include breakpoint(lg) {
    margin: 40px;
    line-height: 48px;
    font-size: 40px;
    max-width: 500px;
  }
}

.one {
  font-size: 25px;
  @include breakpoint(s) {
    font-size: 30px;
  }

  @include breakpoint(md) {
    font-size: 55px;
  }

  @include breakpoint(xl) {
    font-size: 75px;
  }

  @include breakpoint(xxxl) {
    font-size: 100px;
  }
}
.two {
  font-size: 35px;
  line-height: 50px;
  width: 90px;

  @include breakpoint(s) {
    font-size: 35px;
    line-height: 50px;
    width: 120px;
  }

  @include breakpoint(md) {
    font-size: 85px;
    line-height: 95px;
    width: 250px;
  }

  @include breakpoint(xl) {
    font-size: 100px;
    line-height: 110px;
    width: 280px;
  }

  @include breakpoint(xxxl) {
    font-size: 150px;
    line-height: 170px;
    width: 450px;
  }
}

.three {
  font-size: 22px;
  line-height: 28px;
  width: 90px;

  @include breakpoint(s) {
    font-size: 30px;
    line-height: 35px;
    width: 120px;
  }

  @include breakpoint(md) {
    font-size: 55px;
    line-height: 65px;
    width: 250px;
  }

  @include breakpoint(xl) {
    font-size: 70px;
    line-height: 80px;
    width: 280px;
  }

  @include breakpoint(xxxl) {
    font-size: 100px;
    line-height: 120px;
    width: 450px;
  }
}

.four {
  font-size: 19px;
  line-height: 23px;
  width: 90px;

  @include breakpoint(s) {
    font-size: 25px;
    line-height: 30px;
    width: 120px;
  }

  @include breakpoint(md) {
    font-size: 50px;
    line-height: 55px;
    width: 250px;
  }

  @include breakpoint(xl) {
    font-size: 55px;
    line-height: 70px;
    width: 280px;
  }

  @include breakpoint(xxxl) {
    font-size: 90px;
    line-height: 100px;
    width: 450px;
  }
}

.five {
  font-size: 30px;
  line-height: 40px;
  width: 90px;

  @include breakpoint(s) {
    font-size: 35px;
    line-height: 45px;
    width: 120px;
  }

  @include breakpoint(md) {
    font-size: 75px;
    line-height: 90px;
    width: 250px;
  }

  @include breakpoint(xl) {
    font-size: 80px;
    line-height: 95px;
    width: 280px;
  }

  @include breakpoint(xxxl) {
    font-size: 120px;
    line-height: 140px;
    width: 450px;
  }
}

.six {
  text-align: center;
  width: 100%;
  font-size: 20px;
  line-height: 25px;

  @include breakpoint(s) {
    font-size: 20px;
    line-height: 30px;
  }

  @include breakpoint(md) {
    font-size: 40px;
    line-height: 45px;
  }

  @include breakpoint(xl) {
    font-size: 50px;
    line-height: 55px;
  }

  @include breakpoint(xxxl) {
    font-size: 75px;
    line-height: 80px;
  }
}

.seven {
  font-size: 35px;
  line-height: 45px;
  width: 90px;

  @include breakpoint(s) {
    font-size: 45px;
    line-height: 55px;
    width: 120px;
  }

  @include breakpoint(md) {
    font-size: 90px;
    line-height: 110px;
    width: 250px;
  }

  @include breakpoint(xl) {
    font-size: 100px;
    line-height: 120px;
    width: 280px;
  }

  @include breakpoint(xxxl) {
    font-size: 140px;
    line-height: 160px;
    width: 450px;
  }
}

.eight {
  font-size: 37px;
  line-height: 47px;
  width: 90px;

  @include breakpoint(s) {
    font-size: 40px;
    line-height: 50px;
    width: 120px;
  }

  @include breakpoint(md) {
    font-size: 70px;
    line-height: 90px;
    width: 250px;
  }

  @include breakpoint(xl) {
    font-size: 90px;
    line-height: 110px;
    width: 280px;
  }

  @include breakpoint(xxxl) {
    font-size: 120px;
    line-height: 140px;
    width: 450px;
  }
}

.nine {
  font-size: 40px;
  line-height: 50px;
  width: 90px;

  @include breakpoint(s) {
    font-size: 45px;
    line-height: 55px;
    width: 120px;
  }

  @include breakpoint(md) {
    font-size: 90px;
    line-height: 110px;
    width: 250px;
  }

  @include breakpoint(xl) {
    font-size: 110px;
    line-height: 120px;
    width: 280px;
  }

  @include breakpoint(xxxl) {
    font-size: 140px;
    line-height: 160px;
    width: 450px;
  }
}

.ten {
  font-size: 28px;
  line-height: 35px;
  width: 90px;

  @include breakpoint(s) {
    font-size: 35px;
    line-height: 40px;
    width: 120px;
  }

  @include breakpoint(md) {
    font-size: 70px;
    line-height: 80px;
    width: 250px;
  }

  @include breakpoint(xl) {
    font-size: 80px;
    line-height: 90px;
    width: 280px;
  }

  @include breakpoint(xxxl) {
    font-size: 120px;
    line-height: 140px;
    width: 450px;
  }
}

.eleven {
  font-size: 22px;

  @include breakpoint(s) {
    font-size: 25px;
  }

  @include breakpoint(md) {
    font-size: 50px;
  }

  @include breakpoint(xl) {
    font-size: 60px;
  }

  @include breakpoint(xxxl) {
    font-size: 90px;
  }
}

.twelve {
  font-size: 28px;
  line-height: 40px;
  width: 90px;

  @include breakpoint(s) {
    font-size: 30px;
    line-height: 45px;
    width: 120px;
  }

  @include breakpoint(md) {
    font-size: 70px;
    line-height: 90px;
    width: 250px;
  }

  @include breakpoint(xl) {
    font-size: 80px;
    line-height: 100px;
    width: 280px;
  }

  @include breakpoint(xxxl) {
    font-size: 110px;
    line-height: 130px;
    width: 450px;
  }
}

.fourteen {
  font-size: 16px;

  @include breakpoint(s) {
    font-size: 22px;
    width: 130px;
  }

  @include breakpoint(md) {
    font-size: 40px;
    line-height: 60px;
    width: 255px;
  }

  @include breakpoint(xl) {
    font-size: 50px;
    line-height: 100px;
    width: 315px;
  }

  @include breakpoint(xxxl) {
    font-size: 70px;
    line-height: 80px;
    width: 450px;
  }
}

.seventeen {
  font-size: 28px;

  @include breakpoint(s) {
    font-size: 30px;
    line-height: 45px;
    width: 120px;
  }

  @include breakpoint(md) {
    font-size: 70px;
    line-height: 90px;
    width: 250px;
  }

  @include breakpoint(xl) {
    font-size: 65px;
    line-height: 100px;
    width: 295px;
  }

  @include breakpoint(xxxl) {
    font-size: 110px;
    line-height: 130px;
    width: 450px;
  }
}

.nineteen {
  font-size: 13px;
  line-height: 20px;
  width: 90px;

  @include breakpoint(s) {
    font-size: 16px;
    line-height: 22px;
    width: 120px;
  }

  @include breakpoint(md) {
    font-size: 30px;
    line-height: 50px;
    width: 260px;
  }

  @include breakpoint(xl) {
    font-size: 35px;
    line-height: 60px;
    width: 310px;
  }

  @include breakpoint(xxxl) {
    font-size: 60px;
    line-height: 80px;
    width: 480px;
  }
}
