@import "./../../../../styles/utils";

.wrap_proyects {
  position: relative;
  width: 100%;
  margin-bottom: 40px;

  &:hover .background {
    transition: 300ms linear;
    backdrop-filter: blur(15px);
    filter: drop-shadow(0 4px 4px 0);
    background-color: rgba(black, $alpha: 0.6);
    color: white;
    height: 100%;
    width: 100%;
    top: 0;
  }
}

.wrap_proyects__frame {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid white;

  @include breakpoint(md) {
    border: 2px solid white;
  }
}

.wrap_proyects__frame--left {
  left: -5px;
  top: -5px;
  @include breakpoint(md) {
    left: -10px;
    top: -10px;
  }
}

.wrap_proyects__frame--right {
  right: -5px;
  top: -5px;
  @include breakpoint(md) {
    right: -10px;
    top: -10px;
  }
}

.wrap_proyects__images {
  position: relative;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: transparent;
  z-index: 12;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 300ms linear;
}

.text {
  font-size: 16px;
  line-height: 20px;
  font-family: $font_1;
  font-weight: 400;
  text-align: left;
  max-width: 300px;

  @include breakpoint(md) {
    margin: 40px;
    font-size: 32px;
    line-height: 40px;
    max-width: 500px;
  }

  @include breakpoint(lg) {
    margin: 40px;
    line-height: 48px;
    font-size: 40px;
    max-width: 500px;
  }
}

// .sm {
//   @include breakpoint(md) {
//     font-size: 90px;
//   }
// }

// .lg {
//   @include breakpoint(md) {
//     font-size: 100px;
//     line-height: 120px;
//   }
// }
