@import "./../../../../styles/utils";

.container {
  // height: 400px;
  // width: 300px;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;

  @include breakpoint(md) {
    // max-height: 300px;
    // max-width: 500px;
    margin: 0;
    object-fit: cover;
  }

  @include breakpoint(lg) {
    height: 100%;
    width: 100%;
    margin: 0;
    object-fit: cover;
  }

  @include breakpoint(xl) {
    height: 100%;
    width: 100%;
  }

  @include breakpoint(xxxl) {
    max-height: 850px;
  }
}

.img {
  position: relative;
  height: 100%;
  width: 100%;
  // max-height: 300px;
  z-index: 10;
  object-fit: cover;
  object-position: center;

  @include breakpoint(md) {
    object-fit: cover;
  }

  @include breakpoint(xl) {
    object-fit: cover;
  }
}

.borde {
  position: absolute;
  top: -10px;
  left: -10px;
  border: 2px solid rgba(255, 255, 255, 0.753);
  height: 100%;
  width: 100%;
}
