.wrap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 30;
  margin-top: 50px;
  margin-right: 50px;
}

.menu {
  display: block;
  cursor: pointer;
  position: relative;
  height: 35px;
  width: 35px;
}

.menu__linear {
  transition: 300ms linear;
  height: 3px;
  background-color: white;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 200px;
}
