@import "./../../../../styles/utils";

.hero_bottom__icon__right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  width: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.section {
  width: 100%;
  height: 100%;
  grid-column: span 17;

  @include breakpoint(sm) {
    grid-column: span 20;
  }
}

.section--right {
  @include breakpoint(md) {
    grid-column-start: 10;
    grid-column-end: 20;
  }
}
.section--center {
  @include breakpoint(md) {
    grid-column-start: 5;
    grid-column-end: 15;
  }
}

.section--center2 {
  @include breakpoint(md) {
    grid-column-start: 3;
    grid-column-end: 19;
  }
}

.section--left {
  @include breakpoint(md) {
    grid-column-start: 2;
    grid-column-end: 12;
  }
}

.section--left2 {
  @include breakpoint(md) {
    grid-column-start: 2;
    grid-column-end: 10;
  }
}

.section--right2 {
  @include breakpoint(md) {
    grid-column-start: 9;
    grid-column-end: 18;
  }
}

.section--small {
  @include breakpoint(md) {
    grid-column-start: 2;
    grid-column-end: 8;
  }
}
