.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-top: 150px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right {
  height: 500px;
}

.wrap {
}

.title {
  text-align: right;
  font-size: 80px;
  text-align: right;
  margin: 0;
}

.description {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;
  text-align: justify;
  width: 500px;
}

.images {
  width: 500px;
}
