@import "./../../../../styles/utils";

.cont {
  overflow: hidden;
  @include cont;
}

.proyect_list__title {
  text-align: right;
  justify-content: flex-end;
  margin-right: 15px;
  @include Title;
  margin: 0;
  margin-right: 15px;
  @include breakpoint(md) {
    margin-right: 25px;
  }
}

.my_masonry_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;

  @include breakpoint(md) {
    margin-left: -40px;
  }
}

.my_masonry_grid_column {
  padding-left: 15px;
  background-clip: padding-box;

  @include breakpoint(md) {
    padding-left: 40px;
  }
}

.my_masonry_grid_column > div {
  background: transparent;
  margin-bottom: 15px;

  @include breakpoint(md) {
    margin-bottom: 30px;
  }
}

.lineChildren {
  transform: translate(0, 1000px);
}
.lineParent {
  overflow: hidden;
}

.header-container {
  position: relative;
}
