@import "./../../../../styles/utils";

.proyect_list__title {
  text-align: right;
  justify-content: flex-end;
  margin-right: 15px;
  @include Title;
}

.my_masonry_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;

  @include breakpoint(md) {
    margin-left: -40px;
  }
}

.my_masonry_grid_column {
  padding-left: 15px;
  background-clip: padding-box;

  @include breakpoint(md) {
    padding-left: 40px;
  }
}

.my_masonry_grid_column > div {
  background: transparent;
  margin-bottom: 15px;

  @include breakpoint(md) {
    margin-bottom: 30px;
  }
}
