@import "./../../../../styles/utils";

.blend_left {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.blend__container {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  @include breakpoint(md) {
    margin-top: 150px;
    margin-bottom: 150px;
  }

  @include breakpoint(xl) {
    margin-top: 150px;
    margin-bottom: 200px;
  }

  @include breakpoint(xxl) {
    margin-top: 150px;
  }
}

.blend__wrap {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;

  @include breakpoint(md) {
    max-width: 500px;
    margin: 0;
  }

  @include breakpoint(lg) {
    max-width: 900px;
  }

  @include breakpoint(xxl) {
    max-width: 1350px;
  }
}

.blend__frame {
  border: 2px solid white;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
}

.blend__video {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 12px;
  object-fit: contain;
}
