@import "./../../../styles/utils.scss";

.container {
  width: 1200px;
  margin: 0 auto;
}
.contain {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 900px;
}

.title {
  font-weight: 400;
  font-size: 80px;
  color: $color-secondary;
}
