.content.content.content {
  background: transparent;
  .img.img.img {
    box-shadow: none;
    width: 100%;
    height: 100%;
    &:hover {
      display: flex;
      border: 1px solid red;
    }
    &:hover.text {
      display: block;
    }
  }
  .coverflow__container__1P-xE.coverflow__container__1P-xE.coverflow__container__1P-xE {
    background-color: transparent !important;
    -webkit-box-reflect: none !important;
  }
}

.text {
  display: none;
}

.border {
  border: 1px solid red;
}

.img_c.img_c.img_c {
  border: 1px solid red;
}
