@import "../styles//utils";




.hero_top__title--modify {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.containerCookies { 

  z-index: 1000;
  // margin-top: 20px; 
  // margin-left: 20px; 
  @include breakpoint(xs) {
    margin-top: 150px;  
    margin-left: -190px;
    height: 100px;  
  }
  @include breakpoint(md) {
    margin-left: 50px;
    margin-top: 150px;

  }
  @include breakpoint(lg) {
    margin-left: 50px;
    margin-top: 150px;
  }

  @include breakpoint(xl) {
    margin-left: 290px;
    margin-top: 450px;
  }

  @include breakpoint(xxl) {
    // top: -150px;
    margin-left: 600px;
  }
}

.hero_video__containerCokies{
  position: absolute;
  width: 100%;
  height: 217px;
  margin-top: -165px;
  object-fit: cover;
  z-index: -1001;
  @include breakpoint(xs) { 
    height: 80px;  
    margin-top: -65px;
  }
  @include breakpoint(md) {
    height: 220px; 
    margin-top: -180px;
  }

  @include breakpoint(xl) {
    max-width: 900px;
  }

  @include breakpoint(xxl) {
    max-width: 1200px;
  }
}

.buttonModal{
  background-color: white;
  border: none;
  width: 200px
}
.hero_bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  top: "2px";
  position: relative;
}

.hero_text_title{
   font-size: 35px;
  @include breakpoint(xs) { 
    font-size: 11px;
  }
  @include breakpoint(md) {
    font-size: 33px;
  }

  @include breakpoint(xl) {
    font-size: 33px;
  }

  @include breakpoint(xxl) {
    font-size: 35px;
  }
}

.hero_text_subtitle{
  font-size: 35px;
 @include breakpoint(xs) { 
   font-size: 11px;
   margin-top: 0px;
 }
 @include breakpoint(md) {
   font-size: 35px;
   margin-top: -15px;
 }

 @include breakpoint(xl) {
   font-size: 35px;
   margin-top: -15px;
 }

 @include breakpoint(xxl) {
   font-size: 30px;
   margin-top: -15px;
 }
}

.hero_btn_ok{
  font-size: 35px;
 @include breakpoint(xs) { 
  font-size: 10px;
  height: 17px;
   width: 70px;
   margin-left: 200px;
 }
 @include breakpoint(md) {
  font-size: 30px;
  height: 50px;
  width: 150px;
  margin-left: 200px;

 }

 @include breakpoint(xl) {
   font-size: 30px;
   height: 50px;
   width: 150px;
   margin-left: 200px;
   
 }

 @include breakpoint(xxl) {
   font-size: 30px;
   
 }
}

.hero_btn_cancel{
  font-size: 35px;
 @include breakpoint(xs) { 
  font-size: 10px;
  height: 17px;
  width: 70px;
  margin-left: 20px;
 }
 @include breakpoint(md) {
  font-size: 30px;
  height: 50px;
  width: 150px;
  margin-left: 20px;

 }

 @include breakpoint(xl) {
   font-size: 35px;
   
 }

 @include breakpoint(xxl) {
   font-size: 30px;
   
 }
}



.hero_bottom__container {
  position: relative;

  max-width: 300px;

  @include breakpoint(md) {
    max-width: 500px;
  }

  @include breakpoint(xl) {
    max-width: 900px;
  }

  @include breakpoint(xxl) {
    max-width: 1200px;
  }
}

.hero_bottom__frame {
  position: absolute;
  border: 2px solid white;
  width: 100%;
  height: 50%;

  @include breakpoint(md) {
    border: 4px solid white;
  }
}

.hero_bottom__frame--one {
  top: -10px;
  left: -10px;

  @include breakpoint(md) {
    top: -15px;
    left: -15px;
  }

  @include breakpoint(xl) {
    top: -15px;
    left: -15px;
  }

  @include breakpoint(xxl) {
    top: -20px;
    left: -20px;
  }
}

.hero_bottom__frame--two {
  top: -20px;
  left: -20px;

  @include breakpoint(md) {
    top: -30px;
    left: -30px;
  }

  @include breakpoint(xl) {
    top: -30px;
    left: -30px;
  }

  @include breakpoint(xxl) {
    top: -40px;
    left: -40px;
  }
}

.hero_bottom__frame--three {
  top: 0;
  left: 0;
}

.hero_bottom__icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  width: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.hero_video__container {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}

.lineParent {
  overflow: hidden;
  .lineChildren {
    transform: translate(0, 400px);
  }
}

.video{
  background-color: red;
}