@import "./../../../../styles/utils";

.carousel__container {
  padding-bottom: 100px;
}

.wrap {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;

  &:hover .hover {
    top: 0;
    transition: 500ms linear;
  }
}

.img {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: contain;

}

.borde {
  position: absolute;
  top: -5px;
  left: -5px;
  border: 2px solid rgba(255, 255, 255, 0.753);
  height: 100%;
  width: 100%;
  z-index: -2;
  @include breakpoint(md) {
    top: -10px;
    left: -10px;
  }
}

.hover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -100vh;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 500ms linear;
}

.text {
  font-family: $font_2;
  padding: 10px;
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
