#app {
  font-family: $font_1;
}
@font-face {
  font-family: Misto;
  src: url("./Misto.ttf") format("truetype");
}

@font-face {
  font-family: Market Fresh;
  src: url("./MarketFresh.ttf") format("truetype");
}

@font-face {
  font-family: Market Fresh B;
  src: url("./Market Fresh Bold ALL CAPS.ttf") format("truetype");
}

@font-face {
  font-family: Chromate;
  src: url("./FontsFree-Net-Chromate-Regular.ttf") format("truetype");
}

.title--distint {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Misto";
  background-color: #0f0f0f;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
// .img {
//   transition: transform 3s cubic-bezier(0.23, 1, 0.32, 1);
// }

// .aspect_ratio__item.active .img {
//   transition: transform 3s cubic-bezier(0.23, 1, 0.32, 1);
// }

// ---------------------- swiper3 ----------------

.swiper-slide.swiper-slide.swiper-slide {
  height: 120px;
  margin: 2px;
  margin-top: 30px !important;
  @include breakpoint(md) {
    margin: 5px;

    height: 220px;
    margin-top: 50px !important;
  }
  @include breakpoint(xl) {
    height: 400px;
    margin: 5px;
    margin-top: 80px !important;
  }

  @include breakpoint(xxxl) {
    height: 600px;
    margin: 10px;
    margin-top: 70px !important;
  }
}

.swiper-slide-next.swiper-slide-next.swiper-slide-next {
  opacity: 0.5;

  height: 120px;
  max-width: 23%;
  margin-top: 30px !important;
  @include breakpoint(md) {
    height: 220px;
    max-width: 22%;
    margin-top: 50px !important;
  }

  @include breakpoint(xl) {
    height: 400px;
    max-width: 25%;
    margin-top: 80px !important;
  }

  @include breakpoint(xxxl) {
    height: 600px;
    max-width: 26%;
    margin-top: 70px !important;
  }
}

.swiper-slide-prev.swiper-slide-prev.swiper-slide-prev {
  opacity: 0.5;

  height: 120px;
  max-width: 23%;
  margin-top: 30px !important;
  @include breakpoint(md) {
    height: 220px;
    max-width: 22%;
    margin-top: 50px !important;
  }
  @include breakpoint(xl) {
    height: 400px;
    max-width: 25%;
    margin-top: 80px !important;
  }

  @include breakpoint(xxxl) {
    height: 600px;
    max-width: 26%;
    margin-top: 70px !important;
  }
}

.swiper-slide-active.swiper-slide-active.swiper-slide-active {
  // &:hover {
  //   // display: block;
  //   // border: 1px solid red;
  // }
  height: 150px;
  width: 31% !important;
  margin-top: 15px !important;
  @include breakpoint(md) {
    height: 350px;
    width: 36% !important;
    margin-top: 15px !important;
  }
  @include breakpoint(xl) {
    height: 550px;
    width: 33% !important;
    margin-top: 15px !important;
  }

  @include breakpoint(xxxl) {
    height: 800px;
    width: 34% !important;
  }
}

// ----------------------------------
.swiper-button-next {
  color: white !important;
  z-index: 100 !important;
}

.swiper-button-prev {
  color: white !important;
  z-index: 100 !important;
}

.swiper-button-prev.swiper-button-prev.swiper-button-prev {
  left: 90px;
  top: 91%;
  &::before {
    content: "";
    left: 0;
    position: absolute;
    width: 25px;
    height: 1px;
    background-color: white;
    border-radius: 200px;
    margin-left: 8px;
  }

  @include breakpoint(md) {
    left: 200px;
    top: 93%;
    &::before {
      content: "";
      left: 0;
      position: absolute;
      width: 25px;
      height: 2px;
      background-color: white;
      border-radius: 200px;
      margin-left: 8px;
    }
  }

  @include breakpoint(xl) {
    left: 420px;
    top: 95%;
    &::before {
      content: "";
      left: 0;
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: white;
      border-radius: 200px;
      margin-left: 4px;
    }
  }

  @include breakpoint(xxl) {
    left: 590px;
    top: 94%;
  }
}

.swiper.swiper.swiper {
  padding: 70px 0;
  @include breakpoint(md) {
    padding: 100px 0;
  }
}

.swiper-button-next.swiper-button-next.swiper-button-next {
  font-size: 20px;
  right: 90px;
  top: 91%;
  &::before {
    content: "";
    right: 0;
    position: absolute;
    width: 25px;
    height: 1px;
    background-color: white;
    border-radius: 200px;
    margin-right: 8px;
  }

  @include breakpoint(md) {
    right: 200px;
    top: 93%;
    &::before {
      content: "";
      right: 0;
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: white;
      border-radius: 200px;
      margin-right: 8px;
    }
  }

  @include breakpoint(xl) {
    right: 420px;
    top: 95%;
    &::before {
      content: "";
      right: 0;
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: white;
      border-radius: 200px;
      margin-right: 4px;
    }
  }

  @include breakpoint(xxl) {
    right: 590px;
    top: 94%;
  }
}

.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
  font-size: 30px !important;

  @include breakpoint(md) {
    font-size: 50px !important;
  }
}
