#app {
  font-family: $font_1;
}
@font-face {
  font-family: Misto;
  src: url("./Misto.ttf") format("truetype");
}

@font-face {
  font-family: Market Fresh;
  src: url("./MarketFresh.ttf") format("truetype");
}

@font-face {
  font-family: Market Fresh B;
  src: url("./Market Fresh Bold ALL CAPS.ttf") format("truetype");
}

@font-face {
  font-family: Chromate;
  src: url("./FontsFree-Net-Chromate-Regular.ttf") format("truetype");
}

.title--distint {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Misto";
  background-color: #0f0f0f;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// ---------------------- swiper3 ----------------
.swiper-slide-next.swiper-slide-next.swiper-slide-next {
  max-width: 200px;
  @include breakpoint(sm) {
    max-width: 130px;
    margin-right: 60px;
  }

  @include breakpoint(lg) {
    max-width: 300px;
    margin-right: 30px;
  }

  @include breakpoint(xxl) {
    max-width: 400px;
    margin-right: 50px;
  }

  @include breakpoint(xxxl) {
    max-width: 400px;
    margin-right: 100px;
  }
}

.swiper-slide-prev.swiper-slide-prev.swiper-slide-prev {
  max-width: 200px;
  @include breakpoint(sm) {
    max-width: 130px;
    margin-left: 60px;
  }

  @include breakpoint(lg) {
    max-width: 300px;
    margin-left: 30px;
  }

  @include breakpoint(xxl) {
    max-width: 400px;
    margin-left: 50px;
  }

  @include breakpoint(xxxl) {
    max-width: 400px;
    margin-left: 100px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 65px !important;
  font-size: 60px !important;

  @include breakpoint(xl) {
    bottom: -14px !important;
    font-size: 60px !important;
  }

  @include breakpoint(xxl) {
    bottom: 55px !important;
    font-size: 60px !important;
  }
}

.swiper-slide.swiper-slide.swiper-slide {
  display: flex !important;
  justify-content: center !important;
  height: 100% !important;
  background-color: transparent !important;
  max-height: 200px;

  @include breakpoint(sm) {
    margin-top: 30px;
    max-height: 200px;
  }

  @include breakpoint(lg) {
    margin-top: 50px;
    max-height: 350px;
  }

  @include breakpoint(xxl) {
    margin-top: 80px;
    max-height: 600px;
  }
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.507),
    rgba(0, 0, 0, 0.507)
  ) !important;
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.507),
    rgba(0, 0, 0, 0.507)
  ) !important;
}

.swiper-button-next {
  color: white !important;
  z-index: 100 !important;
}

.swiper-button-prev {
  color: white !important;
  z-index: 100 !important;
}

.swiper-slide-active.swiper-slide-active.swiper-slide-active {
  height: 100% !important;
  object-fit: cover !important;
  object-position: center !important;
  margin: 0 40px;

  @include breakpoint(md) {
    max-height: 300px;
    margin: 0 40px;
  }

  @include breakpoint(lg) {
    margin-top: 25px;
    max-height: 500px;
    margin-top: 25px;
    margin: 0 60px;
  }

  // @include breakpoint(xl) {
  //   max-height: 650px;
  //   margin-top: 25px;
  //   margin: 0 60px;
  // }

  @include breakpoint(xxl) {
    max-height: 750px;
    margin-top: 25px;
    margin: 0 60px;
  }
}

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: none !important;
  height: 100% !important;
}

.swiper-button-prev.swiper-button-prev.swiper-button-prev {
  left: 270px;
  top: 85%;

  @include breakpoint(xl) {
    left: 470px;
    top: 97%;
  }

  @include breakpoint(xxl) {
    left: 570px;
    top: 90%;
  }

  &::before {
    content: "";
    left: 0;
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: white;
    border-radius: 200px;
    margin-left: 4px;
  }
}

.swiper-button-next.swiper-button-next.swiper-button-next {
  right: 270px;
  top: 85%;

  @include breakpoint(xl) {
    right: 470px;
    top: 97%;
  }

  @include breakpoint(xxl) {
    right: 570px;
    top: 90%;
  }
  &::before {
    content: "";
    right: 0;
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: white;
    border-radius: 200px;
    margin-right: 4px;
  }
}
