@import "./variables";
@import "./../node_modules/crumb-scss/src/helpers";

// ----------- Mixins ------------------

@mixin Title {
  font-size: 32px;
  font-weight: 400;
  color: white;
  display: flex;
  max-width: 2000px;

  @include breakpoint(md) {
    font-size: 64px;
  }

  @include breakpoint(lg) {
    font-size: 80px;
  }

  @include breakpoint(xl) {
    font-size: 96px;
    margin-top: 90px;
    margin-bottom: 90px;
  }
}

@mixin cont {
  margin-top: 40px;
  margin-bottom: 40px;

  @include breakpoint(xxxl) {
    margin-top: 150px;
    margin-bottom: 190px;
  }
  // @include breakpoint() {
  // }
  // @include breakpoint() {
  // }
}
