@font-face {
  font-family: Misto;
  src: url("./Misto.ttf") format("truetype");
}

.buton-clas{
  background-color:white;
  color: red;
}
.title--distint {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.titulo1-cookies {
  color: red;
  border: "0";
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Misto";
  background-color: #0f0f0f;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
