@import "./utils";

@import "./reset";

// @import "./../../node_modules/crumb-scss/src/crumb.scss";
@import "./../node_modules/crumb-scss/src/crumb.scss";

@import "./font";

.coverflow__container__1P-xE.coverflow__container__1P-xE.coverflow__container__1P-xE {
  background-color: transparent;
}

.coverflow__figure__3bk_C.coverflow__figure__3bk_C.coverflow__figure__3bk_C {
  -webkit-box-reflect: below 0 transparent !important;
  z-index: 1000 !important;
  transform: none;
}

.coverflow__coverflow__53z9A.coverflow__coverflow__53z9A.coverflow__coverflow__53z9A {
  height: fit-content;
  margin-top: 200px;
}
